<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Error</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
<section>
    <div class="jumbotron">
        <div class="container">
            <div th:switch="${status}">
                <p th:case="'403'">Not allowed action. You must login as admin.</p>
                <p th:case="'404'">Bad request. Not found content.</p>
                <p th:case="'500'"> Not allowed action. <em th:text="${message}"/> </p>
            </div>
            <!--<h1> <small th:text="${timestamp}"/> </h1>-->
            <br>
            <!--<p>Bad request: <i th:text="${error}"/> <small th:text="${status}"/></p>-->

        </div>
    </div>
</section>


</div>
</body>
</html>
